/* src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;
/* Global CSS file */
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

body {
  @apply font-outfit bg-gray-50 text-gray-800;
}


.bg-sidebar-active {
  background-color: #f0f4fc; /* Background color of the active link */
  position: relative;
  padding-right: 16px;
  z-index: 2; /* Ensure it stays on top */
  overflow: hidden;
}
/* src/index.css or any global CSS file */
.editorjs-container {
  text-align: left !important;
  width: 100% !important;
  max-width: none !important;
}

.editorjs-container .ce-block__content {
  justify-content: flex-start !important;
  text-align: left !important;
  margin-left: 2% !important;
  max-width: 1000px;  /* example value, adjust for your own use case */

}

/* src/index.css or any global CSS file */

/* Align Editor.js toolbars to the left */
.editorjs-container .ce-toolbar__plus {
  right: 10 !important; /* Ensure the plus button is aligned to the left */

}

.editorjs-container .ce-block__content {
  justify-content: flex-start !important; /* Ensure the block content is aligned to the left */
}

.editorjs-container .ce-toolbar__content {
  justify-content: flex-start !important; /* Ensure the toolbar content is aligned to the left */
  margin-right: 27% !important;

}

.editorjs-container .ce-toolbar__settings-btn {
  left: 0 !important; /* Align settings button to the left */
  right: auto !important;
}

.editorjs-container .ce-block__controls {
  left: 0 !important; /* Ensure the controls are aligned to the left */
  right: auto !important;
}

.editorjs-container .ce-toolbar__actions {
  justify-content: flex-start !important;
}
