
       
@import url(https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,300italic,700);
body{
    background-color: #F2F3F5 !important;
}
#login {
width: 300px;
height: 280px;
position: fixed;
top: 50%;
left: 50%;
margin-left: -150px;
margin-top: -150px;
color: #333;
box-shadow: 0px 6px 8px rgba(0,0,0,0.5);

}
#login:before, #login:after {
content: " ";
display: block;
background: rgba(0,0,0,0.1);
position: absolute;
width: 100px;
height: 30px;
}
#login:before {
margin-top: -12px;
margin-left: -45px;
-webkit-transform: rotate(-25deg);
-moz-transform: rotate(-25deg);
-o-transform: rotate(-25deg);
transform: rotate(-25deg);
}
#login:after {
margin-top: -280px;
margin-left: 240px;
-webkit-transform: rotate(32deg);
-moz-transform: rotate(32deg);
-o-transform: rotate(32deg);
transform: rotate(32deg);
}

#login form {
width: 70%;
margin: 30px auto;
text-align: center;
}

#login form h1 {
font-family: 'Open Sans Condensed', sans-serif;
font-size: 18px;
text-transform: uppercase;
margin-bottom: 20px;
color:#CD181F;
}
#login form h1:before {
display: inline-block;
content: " ";
margin-right: 15px;
width: 60px;
height: 6px;
border-top: 1px solid #333;
}
#login form h1:after {
display: inline-block;
content: " ";
margin-left: 15px;
width: 60px;
height: 6px;
border-top: 1px solid #333;
}

#login form input {
width: 100%;
height: 25px;
border-radius: 5px;
border: 1px solid #e1e1e1;
margin-bottom: 10px;
text-indent: 10px;
outline: none;
-webkit-transition: box-shadow 1s;
-moz-transition: box-shadow 1s;
-o-transition: box-shadow 1s;
transition: box-shadow 1s;
}
#login form input:focus {
box-shadow: 0px 0px 3px 1px #a2d7fc;
}

#login form button {
width: 100%;
height: 30px;
margin-top: 10px;
border-radius: 5px;


border: 1px solid #b6dffd;
color: #CD181F;
text-transform: uppercase;
box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.7);
text-shadow: 0px 1px 1px white;
font-size: 12px;
}

#login form button:hover {
text-shadow: 0px 0px 1px gray;
}
#login form button:active {
background: rgb(162,215,252);

margin-top: 10px;
box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.7) inset;
}
 